---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a {
    font-weight: 600;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-radius: 5px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.note code, .alert code, .warning code, div#toc code, h2 code, h3 code, h4 code {
    color: inherit;
    padding: 0px;
}
.alert {
    margin-bottom:10px;
    margin-top:10px;
}
.alert, .callout {
    overflow: hidden;
}
.alert-warning {
    color: #444;
}
div.alert code, h2 code {
    background-color: transparent !important;
}
/* without this, the links in these notes aren't visible.*/

.alert a {
    text-decoration: underline;
}

section table tr.success {
    background-color: #dff0d8 !important;
}

table tr.info {
    background-color: #d9edf7 !important;
}

section table tr.warning, table tr.testing, table tr.testing > td.sorting_1  {
    background-color: #fcf8e3 !important;
}
section table tr.danger, table tr.preference, table tr.preference > td.sorting_1  {
    background-color: #f2dede !important;
}

span.label.label-default {
    background-color: gray;
}

span.label.label-primary {
    background-color: #f0ad4e;
}

span.projectTitle {
    font-family: Helvetica;
    font-weight: bold;
}

span.myLabel {
    padding-left:10px;
    padding-right:10px;
}

span.tagTitle {font-weight: 500;}

span.otherProgrammingLanguages {
    font-style: normal;
}

span.muted {color: #666;}

span.red {
    color: red;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

span.soft {
    color: #c0c0c0;
}

.alert {
    background-color: #fafafa !important;
    border-color: #dedede !important;
    color: black;
}

.alert a {
    text-decoration: none !important;
}

.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}
.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:700}
.alert>p,.alert>ul{margin-bottom:0}

.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.alert-success hr{border-top-color:#c9e2b3}
.alert-success 

.alert-link{color:#2b542c}

.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.alert-info hr{border-top-color:#a6e1ec}
.alert-info 

.alert-link{color:#245269}

.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.alert-warning hr{border-top-color:#f7e1b5}
.alert-warning 

.alert-link{color:#66512c}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-danger hr{border-top-color:#e4b9c0}

.notice, .info, .caution, .warning {
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid transparent;
    border-radius:4px;
}

.notice::before, .info::before, .caution::before, .warning::before {
    font-weight: bold;
}  

.notice {    
    color: #31708f;
    border-color: #bce8f1;
}

.notice::before { 
    content: "ℹ Note: ";
}

.info {    
    color: #3c763d;
    border-color: #d6e9c6;
}

.info::before { 
    content: "✅ Info: ";
}

.caution {    
    color: #8a6d3b;
    border-color: #faebcc;
}

.caution::before { 
    content: "⚠ Caution: ";
}

.warning {    
    color: #a94442;
    border-color: #ebccd1;
}

.warning::before { 
    content: "⛔ Warning: ";
}

.notice1, .info1, .caution1, .warning1 {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.notice1 {
    border-color: #428bca;
}

.info1 {
     border-color: #5cb85c;
}

.caution1 {
    border-color: #f0ad4e;
}

.warning1 {
    border-color: #d9534f;
}


.beta, .stable, .alpha, .deprecated {
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid transparent;
    border-radius:4px;
}

.beta {    
    color: #31708f;
    border-color: #bce8f1;
}

.stable {    
    color: #3c763d;
    border-color: #d6e9c6;
}

.alpha {    
    color: #8a6d3b;
    border-color: #faebcc;
}

.deprecated {    
    color: #a94442;
    border-color: #ebccd1;
}
